@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #181818;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
}

body {
  background: var(--background);
  color: var(--foreground);
}
